.editbox {
    border-width: 0;
    margin: .4em;
    padding: 0;
    font-family: monospace;
    font-size: 10pt;
    color: black;
}

.editbox pre, .editbox p {
    margin: 0;
    padding: 0;
}

span.keyword {
    color: #708;
}

span.atom {
    color: #488;
}

span.variable {
    color: black;
}

span.variabledef {
    color: #00f;
}

span.localvariable {
    color: #049;
}

span.property {
    color: black;
}

span.comment {
    color: #a70;
}

span.string {
    color: #a22;
}

pre.code, .editbox {
    color: #666;
}
