#content {
	position: relative;
}

#center {
	width: 250px;
	height: 400px;
	float: left;
}

.betterColors {
	text-align: center;
	font-family: Tahoma, sans-serif;
	background-color: #2C3539;
	color: orange;
}

.badColors {
	background-color: white;
	color: white;
	width: 250px;
	height: 400px;
	float: left;
}

.badColors #hiddenDiv {
	display: none;
}

.betterColors #hiddenDiv {
	display: inline;
}

.red {
	background-color: red;
	color:red;
}

#myTable {
	float: left;
}

table td {
	outline: 1px solid gray;
	height: 50px;
	width: 50px;
}

.blue {
	background-color: blue;
}

.left-side {
	float: left;
}

#large {
	height: 400px;
	width: 300px;
	background-color: yellow;
}

#small {
	height: 150px;
	width: 150px;
	color: #43DDEE;
	background-color: #43DDEE;
	border: 5px dashed blue;
}

.normalTd {
	text-align: center;
	background-color: white;
}

#hiddenDiv {
	color:black;
	background-color: green;
	float:right;
	margin-top: 300px;
	
}