body {
	background-color: #80DAEB;
}

h1 {
	text-align: center;
}

h3 {
	color: green;
}

#content {
	border: 1px solid black;
	background: rgb(255,255,255);
	background: rgba(255,255,255,0.6);
	position: relative;
	margin: 0 auto;
	height: 100px;
	width: 100px;
	font-size: 24px;
	text-align: center;

}
