/*! 
 * Made by dbwebb-staff, staff@dbwebb.se 
 */

body {
  color: green;
}

h1 {
	text-align: center;
}

h3 {
	color: green;
}

#content {
	border: 1px solid black;
	background-color: #fefeee;
	padding: 2em;
	margin: 0 auto;
	height: 500px;
	width: 800px;
	border-radius: 30px;
}

.flag {
	position: relative;
	width: 300px;
	height: 200px;
}

.elfenbenskusten {
	background-color: #fff;
}

.elfenbenskusten .part1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 200px;
	background-color: #F77F00;
}

.elfenbenskusten .part2 {
	position: absolute;
	top: 0;
	left: 200px;
	width: 100px;
	height: 200px;
	background-color: #009E60;
}

